h1 Ocean's projects
p Things I made or worked on
hr

include projectList
div.projects
    each project in projects
        a(href=`#${project.name}` title=project.title)
            img(src=project.logoURL)
hr