body {
    margin: 0;
    overflow: hidden;
    background: black;
    color: white;
}

h1 {
    font-size: 12vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-109.5%)translateX(-50%);
}

.navigate-button {
    border: none;
    background: green;
    font-size: 15px;
    color: white;

    position:absolute;
    transform: translateY(-50%)translateX(-50%);

    width: 80px;
    height: 80px;
    border-radius: 100%;
    cursor: pointer;

    transition: 0.5s ease;
}

.navigate-button span {
    display: inline-block;
    font-size: 50px;
}

.navigate-button:hover {
    width: 120px;
    height: 120px;
    font-size: 28px;
}

.container {
    position: relative;
    width: 300vw;
    height: 300vh;
    line-height: 0;
}

.row {
    white-space: nowrap;
    line-height: 0;
}

.section {
    display: inline-block;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    line-height: normal;
}